@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Mono&display=swap");

--root {
  --light-black: #333;
}

.wrapper {
  margin: 0 auto;
}

.container {
  margin: 20px 24px;
  max-width: 1177px;
}

.content {
  flex-direction: column;
  justify-content: center;
}

.container h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  color: var(--light-black);
}

/* image */
.feature-image {
  max-width: 400px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.feature-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* message */
.message h1 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  color: var(--light-black);
  margin-top: 60px;
  margin-bottom: 30px;
}

.message p {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin-bottom: 66px;
}

.message button {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  color: #fff;
  padding: 24px 43px;
  background-color: #333;
  cursor: pointer;
}

.message button:hover {
  transform: translateX(25px);
  transition: 0.5s;
}

/* footer */
footer {
  margin: 114px auto 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}

/* responsive */
@media (min-width: 992px) {
  .content {
    flex-direction: row;
  }

  footer {
    margin-top: 308px;
  }

  .message h1 {
    font-size: 64px;
    line-height: 95px;
    margin-bottom: 36px;
    font-family: "Space Mono";
  }

  .message p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 64px;
  }

  .feature-image {
    margin-right: 118px;
  }

  .container {
    margin: 40px 77px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 100%;
  }

  .container {
    margin: 20px 77px;
    max-width: 100%;
  }

  footer {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
